<ion-router-outlet>
  <ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-button>API Hookup</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button>Create New Hookup</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button>Log history</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>Log out</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-card class="main-card">
      <div>
      <ion-input label="URL"></ion-input>
      </div>
      <div>
        <ion-list>
          <ion-item *ngFor="let param of parameters; let i = index">
      <ion-input label="Parameter" [(ngModel)]="parameters[i].name" type="text"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button (click)="addNewParamter()">+</ion-button>
      </div>
      <div>
        <ion-input label="SQL Query"></ion-input>
      </div>
      <div>
        <ion-card>
        <ion-input label="Header Key"></ion-input>
        <ion-input label="Header Value"></ion-input>
        <ion-button>+</ion-button>
        </ion-card>
      </div>
      <div>
        <ion-checkbox>Every day</ion-checkbox>
        <ion-checkbox>Every Week</ion-checkbox>
        <ion-checkbox>Every Month</ion-checkbox>
        <ion-datetime></ion-datetime>
      </div>
      <ion-button>Create Hookup!</ion-button>
    </ion-card>
  </ion-list>
  </ion-content>
</ion-router-outlet>
