<ion-router-outlet>
  <ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-button>API Hookup</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button>Create New Hookup</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button>Log history</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>Log out</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card>
      <div>
      <ion-input>URL</ion-input>
      </div>
      <div>
      <ion-input>Parameter</ion-input>
        <ion-button>+</ion-button>
      </div>
      <div>
        <ion-input>SQL Query</ion-input>
      </div>
      <div>
        <ion-input>Header Key</ion-input>
        <ion-input>Header Value</ion-input>
        <ion-button>+</ion-button>
      </div>
      <div>
        <ion-label>When?</ion-label>
        <ion-datetime></ion-datetime>
        <ion-checkbox>Every day</ion-checkbox>
        <ion-checkbox>Every Week</ion-checkbox>
        <ion-checkbox>Every Month</ion-checkbox>
      </div>
    </ion-card>
  </ion-list>
</ion-router-outlet>
