<router-outlet>
  <ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-button>API Hookup</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button>Create New Hookup</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button>Log history</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>Log out</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let log of state.Logs">
      <ion-label>HookupBeId: {{ log['Id']}}</ion-label>
      <ion-label>Timestamp: {{ log.Timestamp | date: 'medium' }}</ion-label>
      <ion-label>IsSuccessful: {{ log['IsSuccessful'] ? '1' : '2' }}</ion-label>
      <ion-label *ngIf="log['ErrorMessage']">Error: {{ log['ErrorMessage']}}</ion-label>
    </ion-item>
  </ion-list>
</router-outlet>
