<ion-router-outlet>
<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button (click)="alertAlreadyHere()">API Hookup</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="routeCreate()">Create New Hookup</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="routeLog()">Log history</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Log out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-card *ngFor="let hookup of state.hookups">
    <ion-toolbar>
      <ion-title>{{hookup['url']}}</ion-title>
      <ion-card-subtitle>{{hookup['methodType']}}</ion-card-subtitle>
    </ion-toolbar>
    <ion-button>Delete</ion-button>
    <ion-button>Update</ion-button>
  </ion-card>
</ion-list>
</ion-router-outlet>
