<ion-app class="background">
<ion-card class="login-card">
  <ion-card-content>
    <img class="login-image" src="../../assets/RATTAY-DK-01.png">
<ion-list class="login-content">
  <ion-text class="info-lable">Username</ion-text>
  <ion-item>
    <ion-input name="username" [(ngModel)]="_username"></ion-input>
  </ion-item>
  <br>
  <ion-text class="info-lable">Password</ion-text>
  <ion-item>
    <ion-input name="password" type="password" [(ngModel)]="_password"></ion-input>
  </ion-item>
  <br>
  <ion-button color="success" (click)="submitLogin()">Login</ion-button>
</ion-list>
  </ion-card-content>
</ion-card>
</ion-app>
